body {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    overflow-x: hidden;
    letter-spacing: 0.5px;
    margin: 0;
    line-height: 1.5;

}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    vertical-align: middle;
    border-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 0px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}
.mt-60{
    margin-top: 60px;
}
.mt-50{
    margin-top: 50px;
}
.mt-30{
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-60{
    margin-bottom: 60px;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.fixed-width {
    width: 800px;
}

.section {
    margin: auto;
    background-color: #fff;
}

@media (max-width: 575.98px) {

    .mb-20 {
        padding-bottom: 0px;
    }

}

@media (min-width: 576px) {
    .mt-sm-0 {
        margin-top: 0 !important;
    }
}

@media (max-width: 599.98px) {
    .fixed-width {
        width: 100%;
    }

}
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 15px;
}

.nav-logo {
    width: 80px;
    height: 80px;
}

.nav-logo img {
    border-radius: 50%;
    object-fit: cover;
}

.login-register {
    display: flex;
    align-items: center;
}

.nav-login a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
}

.nav-register a {
    color: #333;
    border: 2px solid #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;

}
.nav-logout{
    margin-left: 30px;
}
input:active{
    border: 1px solid #000 !important;
}
input:focus{
    border: 1px solid #000 !important;
}
.main-nav {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 4px #ddd;
}

.main-nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.main-nav a:hover {
    background-color: #000;
    color: #fff;
}

.main-nav a.active {
    background-color: #2196F3;
    color: white;
}

.main-nav .search-container {
    float: right;
    width: 30%;
}

.main-nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    position: relative;
    padding-left: 35px;
    font-weight: 300;
    
}

.main-nav input[type=text]::placeholder{
    font-weight: 300;
    font-size: 16px;
    
    
}
.main-nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.main-nav .search-container button:hover {
    background: #ccc;
}
.search-container form{
    position: relative;
}
.search-container img{
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    top: 60%;
    transform: translateY(-50%);
}
@media screen and (max-width: 600px) {
    .main-nav .search-container {
        float: none;
    }

    .main-nav a,
    .main-nav input[type=text],
    .main-nav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .main-nav input[type=text] {
        border: 1px solid #ccc;
    }
}
.nav-search{
    border: 1px solid #ddd !important;
    border-radius: 4px;
    width: 100%;
}
.banner{
    height:60vh;
    position: relative;
}
/* .banner-layer{
    position: absolute;
    background-image:linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0)) ;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    
} */
.banner-contain{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, 10px);
}
.banner-contain p{
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    border-left: 2px solid #fff;
    padding-left: 10px;
}
.banner-contain h2{
    color: #fff;
    font-size: 50px;
    font-weight: 200;
    margin-bottom: 40px;
}
.banner-contain span{
    font-weight: 700;
}
.banner-contain a{
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 20px;
    margin-top:30px ;
}
.banner-contain a:hover{
    background-color: #fff;
    color: #000;
}
.info{
    margin-top: 60px;
}
.image-text{
    display: flex;
   
}
.info-image{
    flex-basis: 50%;
    margin: 0px 30px;
}
.info-text{
    flex-basis: 50%;
    margin: 0px 30px;
}
.info-text-title a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    
}
.info-text-title a h4{
    font-size: 26px;
}
.info-text-content p{
    margin-top: 25px;
    font-size: 16px;
    margin-left: 30px;
    border-left: 1px solid #30d5c8;
    padding-left: 30px;
}
.package{
    padding: 50px;
    background-color: #fffaf1;
}
.package-grid{
    display: flex;
    position: relative;
}
.package-grid-image{
    flex-basis: 60%;
    height: 300px;
}
.package-grid-info{
    flex-basis: 40%;
    background-color: #fff;
    box-shadow: 0 0 4px rgb(197, 197, 197);
    border-radius: 4px;
    position: absolute;
    width: 40%;
    right: 5%;
    top: 10%;
    padding: 30px;
    height: 100%;
}
.package-name h6{
    font-size: 22px;
    font-weight: 500;
}
.package-name p{
    font-size: 14px;
    margin-bottom: 30px;
}
.package-name a{
    background: #000;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.show-more a{
    background: #000;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: flex;
}
.show-more{
    margin: 0 auto;
    display: block;
    width: fit-content;
}
.show-more a svg{
    color: #fff;
}
.showmore-arrow {
    color: #fff;
}
.footer{
    padding: 40px 30px 0px 30px;
    background-color: #000;
}
.footer p{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
}
.footer h6 {
    font-size: 18px;
    color: #fff;
}
.footer h4{
    color: #fff;
    font-size: 24px;
}
.links ul li{
    list-style: none;

}
.links ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}
.links ul {
    padding-left: 0px;
}
.search-container input{
    padding-left: 35px;
}
.footer-main{
    padding-bottom: 30px;
}
.footer-copyright{
    border-top: 1px solid #555;
}
.footer-copyright p{
    text-align: center;
    padding: 15px;
}
.section-title {
    border-left: 2px solid #000;
    padding-left: 15px;
}
.about-image img{
    width: 40%;
    float: left;
    margin-right: 15px;
}
.about-image p{
    margin-top: 15px;
}
.mt-15{
    margin-top: 15px;
}
.about-right img{
    float: right !important;
}
.package-remove-bg{
    background-color: transparent !important;
}
.package-box{
    box-shadow: 0 0 4px #ddd;
    border-radius: 4px;
    padding: 20px;
}
.package-main{
    display: flex;
    width: 90%;
}
.package-main-image{
    flex-basis: 30%;
}
.package-main-info{
    flex-basis: 70%;
    margin-left: 15px;
}
.package-main-info ul{
    padding-left: 0px;
}
.package-main-info ul li{
    list-style: none;
}
.package-info{
    display: flex;
}
.package-info p{
    font-size: 14px;
}
.package-main-info h4{
    font-size: 22px;
}
.package-info span{
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}
.package-date{
    display: flex;
    justify-content: space-between;
}
.package-date label{
    font-size: 14px;
}
.package-date input{
    font-size: 14px;
}
.boot-btn button{
    background: #000;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: none;
    display: block;
    margin: 0 auto;
}
.enquiry-box{
    background-color: #fff;
    box-shadow: 0 0 4px #ddd;
    border-radius: 4px;
    padding: 30px;
    width: 50%;
}
.enquiry-btn {
    background: #000;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: none;
    display: block;
    margin: 0 auto;
}
.mb-15{
    margin-bottom: 15px;
}
.login-form p{
    text-align: center;
    margin-top: 15px;
}
.login-form p a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
.tour-box{
    box-shadow: 0 0 4px #ddd;
    border-radius: 4px;
    padding: 20px;
}
.tour-box table{
    width: 100%;
}
.tour-box table td, th {
    border: 1px solid #333;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .issue-btn{
    background: #000;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: none;
  }
  .enquiry-form table tbody tr td{
      padding: 5px;
  }
  .admin-login{
      height: 100vh;
      position: relative;
  }
  .admin-box{
      width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      background: rgba(255, 255, 255, 0.2);
      padding: 30px;
      border-radius: 4px;
      box-shadow: 0 0 4px #333;
}

.admin-form p a{
    color: #ddd;
}
  
  .section-title-light h4{
        color: #fff;
        border-left: 2px solid #ddd;
        padding-left: 15px;
  }
  .admin-form .form-control{
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
/* sidemenu css starts here */
/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: fit-content;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 15px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
   padding: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .dropdown-btn svg{
      width: 25px !important;
  }
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: #fff;
    color: #000;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .dashboard-nav{
      background-color: #111;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 30px;
  }
  .dashboard-nav-name h2{
      color: #fff;
  }
  .dashboard-nav-settings-name{
      display: flex;
      align-items: center;
      
  }
  .dashboard-nav-settings-name h6{
      color: #fff;
      font-weight: 300;
      margin-bottom: 0px;
  }
  .dashboard-nav-settings{
      cursor: pointer;
      position: relative;
  }
  .dashboard-nav-settings svg{
      color: #fff;
      margin-left: 10px;
  }
  .sidemenu-button svg{
    color: #fff;
  }
  .dashboard-nav-settings-dropmenu {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 4px #ddd;
    position: absolute;
    width: 180px;
    top: 45px;
    display: none;
  }
  .dashboard-nav-settings-dropmenu ul {
      padding-left: 0px;
      margin-bottom: 0px;
  }
  .dashboard-nav-settings-dropmenu ul li{
      list-style: none;
      padding: 15px 15px;
  }
  .dashboard-nav-settings-dropmenu ul li a{
      color: #000;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
  }
  .main-content{
      padding-left: 250px;
      padding-top: 30px;
  }
  .breadcrum{
      display: flex;
  }

  .breadcrum-create-package a{
    padding-left: 25px;
    text-decoration: none ;
    color: #000;

  }

  .breadcrum-home a {
    color: #000;
    text-decoration: underline;
    text-decoration-color:#000;
    position: relative;

  }
  .breadcrum-home a::before{
      content: '';
        position: absolute;
        background-image: url(../images/chevron-right.svg);
        width: 10px;
        height: 15px;
        right: -20px;
        top: 4px;

  }
  
  
  .content-grid{
      display: flex;
      flex-wrap: wrap;
  }
  .content-grid a{
    background-color: #fff;
    box-shadow: 0 0 4px #ddd;
    border: 1px solid #ddd;
    border: 4px;
    position: relative;
    width: 100%;
    height: 130px;
    margin: 10px;
    flex-basis: 30%;
  }
  .content-grid h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #000;
  }

  .create-package{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .create-package-form{
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
.create-package-button-group{
    display: flex;


}

.create-package-button-group button{
margin: 0 !important;
margin-right: 40px !important;
    

}
.create-package-form label{
    text-align: left;
}